/* *{
    margin: 0px !important;
    padding: 0px !important;
    box-sizing: border-box !important;
} */
a,a:hover{
    text-decoration: none !important;
}
.bg-transparent{
    background-color: transparent !important;
}
.Home{
    background: url('./Assets/Images/heroindex2.jpg');
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.signup-bg{
    background: url('https://images.pexels.com/photos/5834/nature-grass-leaf-green.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500') !important;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
.signup-bgnew{
    background: url('https://images.pexels.com/photos/5834/nature-grass-leaf-green.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500') !important;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
.signup-card{
    background-color:rgb(63, 86, 219);
    position: absolute;
    width: 40%;
    top: 10%;
    right: 10%;
    z-index: 1;
}
.h-min-100{
    min-height: 100vh !important;
}
.logo{
  font-family: cursive;
}
.logo>span{
  font-size: 14px;
}
/* Styling for dashboard */
.logo{
  font-family: cursive;
}
.logo>span{
  font-size: 14px;
}
  #main {
    transition: all .5s ease-out;
    padding: 16px;
    flex: 1;
  }
  .main-content{
      display: flex;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
